{% load staticfiles %}
<html>
    <head>
        <title>EvesDrop.com</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">EvesDrop.com</a></h1>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div >
                    {% if user.is_authenticated%}
                    <ul>
                        <li><a href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> Add New</a></li>
                        <li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span> Draft List</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
                    </ul>    
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                   {% block body %}    
                     {% for post in posts %}
                        <div class="post">
                            <div class="date">
                               {{ post.published_date }}
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                     {% endfor %}
                   {% endblock %}
               </div>
            </div>
        </div>
    </body>
</html>