{% extends 'blog/base.html' %}

{% block body %}
    <div class="post">
            {% if post.published_date %}
                <div class="date">
                   {{ post.published_date }}
                </div>
            {% else %}
               {% if user.is_authenticated %}
                  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">publish</a>
                {% endif %}  
            {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        <h1>{{ post.title }}</h1><br>
        {% if post.image %}
            <img src="{{ post.image.url }}" class="img-responsive"/>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.is_approved %}
        <div class="comment">
           <div class="date">created:{{ comment.created_date }}</div>
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
           <strong>{{ comment.author }}</strong>
           <p>{{ comment.text|linebreaksbr }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet:</p>
    {% endfor %}   
{% endblock %}